.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.skillbox {
  width: 55%;
  height: fit-content;
  background-color: white;
  color: "#343434";
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.45rem;
  align-items: center;
  margin: 1rem;
  border-radius: 3px;
}

@media screen and (max-width: 700px) {
  .skills {
    display: grid;
    grid-template-columns: 1fr;
    min-width: "20vh";
    width: "40%";
  }
}
